<!DOCTYPE html>
<html>
	<head>
		<title><%- titleholder %></title>
		 <link rel='stylesheet' href='/stylesheets/style.css' />
		 <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="header-wrapper">
			<%-headercontent %>
		</div>
		<div class="content-wrapper">
			<%-content %>
		</div>
	</body>
</html>