<%- contentFor('titleholder') %>
sms - signup

<%- contentFor('headercontent') %>

<div id="header-title-container">
	<center><h1>SECURE MAIL SERVER SIGNUP</h1></center>
</div>

<%- contentFor('content') %>
